.elementor-2118 .elementor-element.elementor-element-2809e01:not(.elementor-motion-effects-element-type-background),
.elementor-2118 .elementor-element.elementor-element-2809e01>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-2118 .elementor-element.elementor-element-2809e01 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
    z-index: 999999;
}

.elementor-2118 .elementor-element.elementor-element-2809e01>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2118 .elementor-element.elementor-element-d1b690c>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-2118 .elementor-element.elementor-element-d1b690c {
    z-index: 99999;
}

.elementor-2118 .elementor-element.elementor-element-68d69b2 {
    text-align: left;
}

.elementor-2118 .elementor-element.elementor-element-68d69b2 img {
    width: 88%;
}

.elementor-2118 .elementor-element.elementor-element-a33ff83 ul li {
    text-align: left;
}

.elementor-2118 .elementor-element.elementor-element-a33ff83 .element-ready-mobile-menu-wr {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: block;
}

.elementor-2118 .elementor-element.elementor-element-a33ff83 .element-ready-menu-expand {
    position: absolute;
    top: 0px;
    right: 30px;
}

.elementor-2118 .elementor-element.elementor-element-a33ff83 .element-ready-menu-expand i {
    color: #04091E;
    padding: 0px 0px 0px 0px;
}

.elementor-2118 .elementor-element.elementor-element-a33ff83 ul>li {
    color: #04091E;
}

.elementor-2118 .elementor-element.elementor-element-a33ff83 ul>li a {
    color: #04091E;
}

.elementor-2118 .elementor-element.elementor-element-a33ff83 ul>li,
.elementor-2118 .elementor-element.elementor-element-a33ff83 ul>li a {
    font-family: "Work Sans", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.elementor-2118 .elementor-element.elementor-element-a33ff83 ul li a {
    padding: 0px 0px 10px 0px;
}

.elementor-2118 .elementor-element.elementor-element-a33ff83 ul>li {
    margin: 0px 0px 0px 0px;
}

.elementor-2118 .elementor-element.elementor-element-a33ff83 ul>li:hover {
    color: #DAED1A;
}

.elementor-2118 .elementor-element.elementor-element-a33ff83 ul>li:hover a {
    color: #DAED1A;
}

.elementor-2118 .elementor-element.elementor-element-a33ff83 ul li .sub-menu li {
    color: #04091E;
}

.elementor-2118 .elementor-element.elementor-element-a33ff83 ul li .sub-menu li>a {
    color: #04091E;
}

.elementor-2118 .elementor-element.elementor-element-a33ff83 ul li .sub-menu li a,
.elementor-2118 .elementor-element.elementor-element-a33ff83 ul li .sub-menu li>a {
    font-family: "Work Sans", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.elementor-2118 .elementor-element.elementor-element-a33ff83 ul li .sub-menu li:hover {
    color: #DAED1A;
}

.elementor-2118 .elementor-element.elementor-element-a33ff83 ul .sub-menu li:hover a {
    color: #DAED1A;
}

.elementor-2118 .elementor-element.elementor-element-a33ff83 {
    width: 100%;
    max-width: 100%;
    z-index: 999999;
}

.elementor-2118 .elementor-element.elementor-element-59db332 {
    color: #04091E;
    font-family: "Urbanist", Sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
}

.elementor-2118 .elementor-element.elementor-element-215e97b .elementor-repeater-item-2f9fd64.elementor-social-icon {
    background-color: #02010100;
}

.elementor-2118 .elementor-element.elementor-element-215e97b .elementor-repeater-item-2f9fd64.elementor-social-icon i {
    color: #747681;
}

.elementor-2118 .elementor-element.elementor-element-215e97b .elementor-repeater-item-2f9fd64.elementor-social-icon svg {
    fill: #747681;
}

.elementor-2118 .elementor-element.elementor-element-215e97b .elementor-repeater-item-0567dc8.elementor-social-icon {
    background-color: #DAC0C000;
}

.elementor-2118 .elementor-element.elementor-element-215e97b .elementor-repeater-item-0567dc8.elementor-social-icon i {
    color: #747681;
}

.elementor-2118 .elementor-element.elementor-element-215e97b .elementor-repeater-item-0567dc8.elementor-social-icon svg {
    fill: #747681;
}

.elementor-2118 .elementor-element.elementor-element-215e97b .elementor-repeater-item-302d8c3.elementor-social-icon {
    background-color: #02010100;
}

.elementor-2118 .elementor-element.elementor-element-215e97b .elementor-repeater-item-302d8c3.elementor-social-icon i {
    color: #747681;
}

.elementor-2118 .elementor-element.elementor-element-215e97b .elementor-repeater-item-302d8c3.elementor-social-icon svg {
    fill: #747681;
}

.elementor-2118 .elementor-element.elementor-element-215e97b .elementor-repeater-item-f70965e.elementor-social-icon {
    background-color: #02010100;
}

.elementor-2118 .elementor-element.elementor-element-215e97b .elementor-repeater-item-f70965e.elementor-social-icon i {
    color: #747681;
}

.elementor-2118 .elementor-element.elementor-element-215e97b .elementor-repeater-item-f70965e.elementor-social-icon svg {
    fill: #747681;
}

.elementor-2118 .elementor-element.elementor-element-215e97b {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 18px;
    --grid-column-gap: 5px;
}

.elementor-2118 .elementor-element.elementor-element-215e97b .elementor-widget-container {
    text-align: left;
}

.elementor-2118 .elementor-element.elementor-element-215e97b .elementor-social-icon:hover i {
    color: #DAED1A;
}

.elementor-2118 .elementor-element.elementor-element-215e97b .elementor-social-icon:hover svg {
    fill: #DAED1A;
}

.elementor-2118 .elementor-element.elementor-element-215e97b>.elementor-widget-container {
    margin: 0px 0px 0px -10px;
    padding: 0px 0px 0px 0px;
}

.elementor-2118 .elementor-element.elementor-element-48a8286 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(60px/2);
}

.elementor-2118 .elementor-element.elementor-element-48a8286 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(60px/2);
}

.elementor-2118 .elementor-element.elementor-element-48a8286 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(60px/2);
    margin-left: calc(60px/2);
}

.elementor-2118 .elementor-element.elementor-element-48a8286 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-60px/2);
    margin-left: calc(-60px/2);
}

body.rtl .elementor-2118 .elementor-element.elementor-element-48a8286 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-60px/2);
}

body:not(.rtl) .elementor-2118 .elementor-element.elementor-element-48a8286 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-60px/2);
}

.elementor-2118 .elementor-element.elementor-element-48a8286 .elementor-icon-list-item:not(:last-child):after {
    content: "";
    height: 55%;
    border-color: var( --e-global-color-text);
}

.elementor-2118 .elementor-element.elementor-element-48a8286 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child):after {
    border-top-style: solid;
    border-top-width: 2px;
}

.elementor-2118 .elementor-element.elementor-element-48a8286 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
    border-left-style: solid;
}

.elementor-2118 .elementor-element.elementor-element-48a8286 .elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
    border-left-width: 2px;
}

.elementor-2118 .elementor-element.elementor-element-48a8286 .elementor-icon-list-icon i {
    color: #DAED1A;
    transition: color 0.3s;
}

.elementor-2118 .elementor-element.elementor-element-48a8286 .elementor-icon-list-icon svg {
    fill: #DAED1A;
    transition: fill 0.3s;
}

.elementor-2118 .elementor-element.elementor-element-48a8286 {
    --e-icon-list-icon-size: 18px;
    --icon-vertical-offset: 0px;
}

.elementor-2118 .elementor-element.elementor-element-48a8286 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-2118 .elementor-element.elementor-element-48a8286 .elementor-icon-list-item>a {
    font-family: "Urbanist", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

.elementor-2118 .elementor-element.elementor-element-48a8286 .elementor-icon-list-text {
    color: #4A5262;
    transition: color 0.3s;
}

.elementor-2118 .elementor-element.elementor-element-05ec90d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(60px/2);
}

.elementor-2118 .elementor-element.elementor-element-05ec90d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(60px/2);
}

.elementor-2118 .elementor-element.elementor-element-05ec90d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(60px/2);
    margin-left: calc(60px/2);
}

.elementor-2118 .elementor-element.elementor-element-05ec90d .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-60px/2);
    margin-left: calc(-60px/2);
}

body.rtl .elementor-2118 .elementor-element.elementor-element-05ec90d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-60px/2);
}

body:not(.rtl) .elementor-2118 .elementor-element.elementor-element-05ec90d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-60px/2);
}

.elementor-2118 .elementor-element.elementor-element-05ec90d .elementor-icon-list-item:not(:last-child):after {
    content: "";
    height: 55%;
    border-color: #747681;
}

.elementor-2118 .elementor-element.elementor-element-05ec90d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child):after {
    border-top-style: solid;
    border-top-width: 2px;
}

.elementor-2118 .elementor-element.elementor-element-05ec90d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
    border-left-style: solid;
}

.elementor-2118 .elementor-element.elementor-element-05ec90d .elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
    border-left-width: 2px;
}

.elementor-2118 .elementor-element.elementor-element-05ec90d .elementor-icon-list-icon i {
    color: #DAED1A;
    transition: color 0.3s;
}

.elementor-2118 .elementor-element.elementor-element-05ec90d .elementor-icon-list-icon svg {
    fill: #DAED1A;
    transition: fill 0.3s;
}

.elementor-2118 .elementor-element.elementor-element-05ec90d {
    --e-icon-list-icon-size: 18px;
    --icon-vertical-offset: 0px;
}

.elementor-2118 .elementor-element.elementor-element-05ec90d .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-2118 .elementor-element.elementor-element-05ec90d .elementor-icon-list-item>a {
    font-family: "Urbanist", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

.elementor-2118 .elementor-element.elementor-element-05ec90d .elementor-icon-list-text {
    color: #4A5262;
    transition: color 0.3s;
}

@media(max-width:1024px) {
    .elementor-2118 .elementor-element.elementor-element-a33ff83 .element-ready-menu-expand i {
        padding: 0px 0px 0px 0px;
    }
    .elementor-2118 .elementor-element.elementor-element-a33ff83 .element-ready-menu-expand {
        margin: 0px 0px 0px 0px;
    }
    .elementor-2118 .elementor-element.elementor-element-a33ff83 ul>li,
    .elementor-2118 .elementor-element.elementor-element-a33ff83 ul>li a {
        font-size: 18px;
    }
    .elementor-2118 .elementor-element.elementor-element-a33ff83 ul>li {
        margin: 0px 0px 0px 0px;
    }
    .elementor-2118 .elementor-element.elementor-element-59db332 {
        font-size: 18px;
    }
    .elementor-2118 .elementor-element.elementor-element-215e97b>.elementor-widget-container {
        margin: -8px 0px 0px -13px;
    }
}

@media(max-width:767px) {
    .elementor-2118 .elementor-element.elementor-element-2809e01 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .elementor-2118 .elementor-element.elementor-element-d1b690c>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2118 .elementor-element.elementor-element-a33ff83 ul>li,
    .elementor-2118 .elementor-element.elementor-element-a33ff83 ul>li a {
        font-size: 18px;
    }
    .elementor-2118 .elementor-element.elementor-element-a33ff83>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-2118 .elementor-element.elementor-element-59db332 {
        text-align: left;
        font-size: 20px;
    }
    .elementor-2118 .elementor-element.elementor-element-215e97b .elementor-widget-container {
        text-align: left;
    }
    .elementor-2118 .elementor-element.elementor-element-215e97b>.elementor-widget-container {
        margin: -10px 0px 0px -12px;
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-2118 .elementor-element.elementor-element-d1b690c {
        width: 100%;
    }
}

/* Start custom CSS for element-ready-mobile-offcanvas-menu, class: .elementor-element-a33ff83 */

.elementor-2118 .elementor-element.elementor-element-a33ff83 .element-ready-mobile-menu-wr {
    z-index: 2147483647;
}

/* End custom CSS */