.elementor-1288 .elementor-element.elementor-element-51583c3 {
    padding: 11px 0px 11px 0px;
}

.elementor-bc-flex-widget .elementor-1288 .elementor-element.elementor-element-44f13fd.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-1288 .elementor-element.elementor-element-44f13fd.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-1288 .elementor-element.elementor-element-44f13fd>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1288 .elementor-element.elementor-element-1810721 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(40px/2);
}

.elementor-1288 .elementor-element.elementor-element-1810721 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(40px/2);
}

.elementor-1288 .elementor-element.elementor-element-1810721 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(40px/2);
    margin-left: calc(40px/2);
}

.elementor-1288 .elementor-element.elementor-element-1810721 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-40px/2);
    margin-left: calc(-40px/2);
}

body.rtl .elementor-1288 .elementor-element.elementor-element-1810721 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-40px/2);
}

body:not(.rtl) .elementor-1288 .elementor-element.elementor-element-1810721 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-40px/2);
}

.elementor-1288 .elementor-element.elementor-element-1810721 .elementor-icon-list-icon i {
    color: #6EC1E400;
    transition: color 0.3s;
}

.elementor-1288 .elementor-element.elementor-element-1810721 .elementor-icon-list-icon svg {
    fill: #6EC1E400;
    transition: fill 0.3s;
}

.elementor-1288 .elementor-element.elementor-element-1810721 {
    --e-icon-list-icon-size: 20px;
    --icon-vertical-offset: 0px;
}

.elementor-1288 .elementor-element.elementor-element-1810721 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-1288 .elementor-element.elementor-element-1810721 .elementor-icon-list-item>a {
    font-family: "Work Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}

.elementor-1288 .elementor-element.elementor-element-1810721 .elementor-icon-list-text {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-bc-flex-widget .elementor-1288 .elementor-element.elementor-element-cdce412.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-1288 .elementor-element.elementor-element-cdce412.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-1288 .elementor-element.elementor-element-cdce412>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1288 .elementor-element.elementor-element-4f8c313 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 14px;
    --grid-column-gap: 10px;
    --grid-row-gap: 0px;
}

.elementor-1288 .elementor-element.elementor-element-4f8c313 .elementor-widget-container {
    text-align: right;
}

.elementor-1288 .elementor-element.elementor-element-4f8c313 .elementor-social-icon {
    background-color: #FFFFFF00;
    border-style: none;
}

.elementor-1288 .elementor-element.elementor-element-4f8c313 .elementor-social-icon i {
    color: #FFFFFF;
}

.elementor-1288 .elementor-element.elementor-element-4f8c313 .elementor-social-icon svg {
    fill: #FFFFFF;
}

.elementor-1288 .elementor-element.elementor-element-4f8c313 .elementor-social-icon:hover i {
    color: #DAED1A;
}

.elementor-1288 .elementor-element.elementor-element-4f8c313 .elementor-social-icon:hover svg {
    fill: #DAED1A;
}

.elementor-1288 .elementor-element.elementor-element-4f8c313>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1288 .elementor-element.elementor-element-6527645>.elementor-container {
    max-width: 1170px;
}

.elementor-1288 .elementor-element.elementor-element-6527645.element-ready-sticky.element-ready-sticky-container {
    height: 80px;
    position: fixed;
    left: 0px;
    top: 0px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
}

.elementor-1288 .elementor-element.elementor-element-6527645 {
    z-index: 999;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-1288 .elementor-element.elementor-element-6527645:not(.elementor-motion-effects-element-type-background),
.elementor-1288 .elementor-element.elementor-element-6527645>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF00;
}

.elementor-1288 .elementor-element.elementor-element-6527645>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1288 .elementor-element.elementor-element-fbba86a:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-1288 .elementor-element.elementor-element-fbba86a>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-fad763e);
}

.elementor-1288 .elementor-element.elementor-element-fbba86a>.elementor-element-populated,
.elementor-1288 .elementor-element.elementor-element-fbba86a>.elementor-element-populated>.elementor-background-overlay,
.elementor-1288 .elementor-element.elementor-element-fbba86a>.elementor-background-slideshow {
    border-radius: 12px 12px 12px 12px;
}

.elementor-1288 .elementor-element.elementor-element-fbba86a:hover>.elementor-element-populated,
.elementor-1288 .elementor-element.elementor-element-fbba86a:hover>.elementor-element-populated>.elementor-background-overlay {
    border-radius: 12px 12px 12px 12px;
}

.elementor-1288 .elementor-element.elementor-element-fbba86a>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1288 .elementor-element.elementor-element-fbba86a>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1288 .elementor-element.elementor-element-e5928ef:not(.elementor-motion-effects-element-type-background),
.elementor-1288 .elementor-element.elementor-element-e5928ef>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-1288 .elementor-element.elementor-element-e5928ef,
.elementor-1288 .elementor-element.elementor-element-e5928ef>.elementor-background-overlay {
    border-radius: 12px 12px 12px 12px;
}

.elementor-1288 .elementor-element.elementor-element-e5928ef:hover,
.elementor-1288 .elementor-element.elementor-element-e5928ef:hover>.elementor-background-overlay {
    border-radius: 12px 12px 12px 12px;
}

.elementor-1288 .elementor-element.elementor-element-e5928ef {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px 5px 15px 15px;
}

.elementor-1288 .elementor-element.elementor-element-e5928ef>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-1288 .elementor-element.elementor-element-a6f1097.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-1288 .elementor-element.elementor-element-a6f1097.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-1288 .elementor-element.elementor-element-a6f1097>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1288 .elementor-element.elementor-element-9e32edb {
    text-align: left;
}

.elementor-1288 .elementor-element.elementor-element-9e32edb img {
    width: 100%;
}

.elementor-bc-flex-widget .elementor-1288 .elementor-element.elementor-element-dff143c.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-1288 .elementor-element.elementor-element-dff143c.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-1288 .elementor-element.elementor-element-dff143c>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-1288 .elementor-element.elementor-element-00f5fe8 .element-ready--menu--list {
    margin-right: auto !important;
}

.elementor-1288 .elementor-element.elementor-element-00f5fe8 .element-ready-navbar>li {
    padding: 0px 25px 0px 25px;
    margin: 0px 0px 0px 0px;
}

.elementor-1288 .elementor-element.elementor-element-00f5fe8 .navigation .navbar .navbar-nav .nav-item {
    padding: 0px 25px 0px 25px;
}

.elementor-1288 .elementor-element.elementor-element-00f5fe8 .element-ready-navbar .element-ready-underline>a::before {
    height: 5px;
    bottom: 0px;
    left: 10px;
}

.elementor-1288 .elementor-element.elementor-element-00f5fe8 .fsmenu--text-container .fsmenu--list .fsmenu--list-element>a span {
    color: #04091E;
}

.elementor-1288 .elementor-element.elementor-element-00f5fe8 .element-ready-header-nav .navigation .navbar .navbar-nav>li>a {
    color: #04091E;
}

.elementor-1288 .elementor-element.elementor-element-00f5fe8 .element-ready-navbar>li>a {
    color: #04091E;
}

.elementor-1288 .elementor-element.elementor-element-00f5fe8 .element-ready-header-nav .navigation .navbar .navbar-nav>li>a,
.elementor-1288 .elementor-element.elementor-element-00f5fe8 .element-ready-navbar>li,
.elementor-1288 .elementor-element.elementor-element-00f5fe8 .element-ready-navbar>li>a,
.elementor-1288 .elementor-element.elementor-element-00f5fe8 .fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element a>span {
    font-family: "Work Sans", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

.elementor-1288 .elementor-element.elementor-element-00f5fe8 .element-ready-header-nav .navigation .navbar .navbar-nav>li:hover>a {
    color: #091436;
}

.elementor-1288 .elementor-element.elementor-element-00f5fe8 .element-ready-navbar>li:hover {
    color: #091436;
}

.elementor-1288 .elementor-element.elementor-element-00f5fe8 .element-ready-navbar>li:hover>a {
    color: #091436;
}

.elementor-1288 .elementor-element.elementor-element-00f5fe8 .element-ready-navbar>li:hover a>span {
    color: #091436;
}

.elementor-1288 .elementor-element.elementor-element-00f5fe8 .fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element:hover a>span {
    color: #091436;
}

.elementor-1288 .elementor-element.elementor-element-00f5fe8 .element-ready-navbar li .sub-menu i,
.element-ready-style-3.element-ready-header-nav .navigation .navbar .navbar-nav .nav-item .sub-menu>li a i {
    margin: 15px 0px 0px 0px !important;
}

.elementor-1288 .elementor-element.elementor-element-00f5fe8 .element-ready-sub-menu {
    min-width: 240px;
    top: 57px;
}

.elementor-1288 .elementor-element.elementor-element-00f5fe8 .fsmenu .fsmenu--container .fsmenu--text-block .fsmenu--text-container .fsmenu--list .fsmenu--list-element .element-ready-sub-menu {
    min-width: 240px;
}

.elementor-1288 .elementor-element.elementor-element-00f5fe8 .element-ready-header-nav .navigation .navbar .navbar-nav .nav-item .sub-menu {
    min-width: 240px;
    top: 57px;
}

.elementor-1288 .elementor-element.elementor-element-00f5fe8 .fsmenu--text-container .fsmenu--list .fsmenu--list-element:hover ul.element-ready-sub-menu {
    top: 57px;
}

.elementor-1288 .elementor-element.elementor-element-00f5fe8 .element-ready-style-3.element-ready-header-nav .navigation .navbar .navbar-nav .nav-item .sub-menu>li a {
    color: #04091E;
    font-family: "Work Sans", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 0px 20px 0px 20px;
}

.elementor-1288 .elementor-element.elementor-element-00f5fe8 .element-ready-style-3.element-ready-header-nav .navigation .navbar .navbar-nav .nav-item .sub-menu>li {
    padding: 0px 0px 0px 0px;
    margin: 0px 10px 0px 10px;
    border-radius: 5px 5px 5px 5px;
}

.elementor-1288 .elementor-element.elementor-element-00f5fe8 .element-ready-style-3.element-ready-header-nav .navigation .navbar .navbar-nav .nav-item .sub-menu li a:hover {
    color: #FFFFFF;
}

.elementor-1288 .elementor-element.elementor-element-00f5fe8 .element-ready-style-3.element-ready-header-nav .navigation .navbar .navbar-nav .nav-item .sub-menu>li:hover {
    background: #091530;
}

.elementor-1288 .elementor-element.elementor-element-00f5fe8 .element-ready-canvas-bar i {
    color: #04091E;
}

.elementor-1288 .elementor-element.elementor-element-00f5fe8 .element-ready-canvas-bar svg path {
    fill: #04091E;
}

.elementor-bc-flex-widget .elementor-1288 .elementor-element.elementor-element-2a7795e.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-1288 .elementor-element.elementor-element-2a7795e.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-1288 .elementor-element.elementor-element-2a7795e>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1288 .elementor-element.elementor-element-82beb35 .element__ready__btn .element__ready__btn_icon_right {
    margin-left: 5px;
}

.elementor-1288 .elementor-element.elementor-element-82beb35 .element__ready__btn .element__ready__btn_icon_left {
    margin-right: 5px;
}

.elementor-1288 .elementor-element.elementor-element-82beb35 .button__icon img {
    width: 80px;
}

.elementor-1288 .elementor-element.elementor-element-82beb35 .button__icon svg {
    width: 80px;
}

.elementor-1288 .elementor-element.elementor-element-82beb35 .button__icon {
    color: #04091E;
    position: initial;
}

.elementor-1288 .elementor-element.elementor-element-82beb35 .button__icon,
.elementor-1288 .elementor-element.elementor-element-82beb35 .button__icon img {
    transition: 0.3s;
}

.elementor-1288 .elementor-element.elementor-element-82beb35 .button__title {
    font-family: "Work Sans", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #04091E;
}

.elementor-1288 .elementor-element.elementor-element-82beb35 .element__ready__btn {
    font-family: "Work Sans", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-color: #DAED1A;
    border-radius: 8px 8px 8px 8px;
    margin: 0px 0px -3px 0px;
    padding: 16px 24px 16px 24px;
}

.elementor-1288 .elementor-element.elementor-element-82beb35 a.element__ready__btn,
.elementor-1288 .elementor-element.elementor-element-82beb35 .element__ready__btn {
    color: #140A22;
}

.elementor-1288 .elementor-element.elementor-element-82beb35 .element__ready__btn:before,
.elementor-1288 .elementor-element.elementor-element-82beb35 .ripple__btn span.ripples {
    background-color: #AEBE0F;
}

.elementor-1288 .elementor-element.elementor-element-82beb35 .element__ready__btn:before {
    text-align: left;
    transition: 0.3s;
    transform: rotate(0deg) scale(1);
}

.elementor-1288 .elementor-element.elementor-element-82beb35 .element__ready__btn:hover:before {
    transform: rotate(0deg) scale(1);
}

.elementor-1288 .elementor-element.elementor-element-82beb35 .element__ready__btn:after {
    text-align: left;
    transition: 0.3s;
    transform: rotate(0deg) scale(1);
}

.elementor-1288 .elementor-element.elementor-element-82beb35 .element__ready__btn:hover:after {
    transform: rotate(0deg) scale(1);
}

.elementor-1288 .elementor-element.elementor-element-82beb35 {
    display: block;
    text-align: right;
    width: 100%;
}

.elementor-1288 .elementor-element.elementor-element-82beb35>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1288 .elementor-element.elementor-element-7da88cc>.elementor-container {
    max-width: 1170px;
}

.elementor-1288 .elementor-element.elementor-element-7da88cc.element-ready-sticky.element-ready-sticky-container {
    position: fixed;
    left: 0px;
    top: 0px;
}

.elementor-1288 .elementor-element.elementor-element-7da88cc {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-1288 .elementor-element.elementor-element-7da88cc>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1288 .elementor-element.elementor-element-817642c>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-1288 .elementor-element.elementor-element-fac1a13>.elementor-container {
    max-width: 1600px;
}

.elementor-1288 .elementor-element.elementor-element-fac1a13 {
    z-index: 99;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 20px 0px 20px;
}

.elementor-1288 .elementor-element.elementor-element-fac1a13:not(.elementor-motion-effects-element-type-background),
.elementor-1288 .elementor-element.elementor-element-fac1a13>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-1288 .elementor-element.elementor-element-fac1a13>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-1288 .elementor-element.elementor-element-390c328.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-1288 .elementor-element.elementor-element-390c328.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-1288 .elementor-element.elementor-element-390c328>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1288 .elementor-element.elementor-element-ad7c4cd {
    text-align: left;
}

.elementor-1288 .elementor-element.elementor-element-ad7c4cd img {
    width: 80%;
}

.elementor-bc-flex-widget .elementor-1288 .elementor-element.elementor-element-1800fd1.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-1288 .elementor-element.elementor-element-1800fd1.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-1288 .elementor-element.elementor-element-1800fd1.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-1288 .elementor-element.elementor-element-1800fd1>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-1288 .elementor-element.elementor-element-8d871c7 .element-ready-sidebar-menu .sidebar-menu-close i {
    color: #04091E;
}

.elementor-1288 .elementor-element.elementor-element-8d871c7 .element-ready-sidebar-menu .sidebar-menu-close {
    background-color: #02010100;
}

.elementor-1288 .elementor-element.elementor-element-8d871c7 .element-ready-canvas-bar i {
    color: #04091E;
}

.elementor-1288 .elementor-element.elementor-element-8d871c7 .element-ready-canvas-bar svg path {
    fill: #04091E;
}

.elementor-1288 .elementor-element.elementor-element-8d871c7 .element-ready-canvas-bar {
    background: #DAED1A;
}

.elementor-1288 .elementor-element.elementor-element-8d871c7 {
    width: auto;
    max-width: auto;
}

.elementor-bc-flex-widget .elementor-1288 .elementor-element.elementor-element-8dde543.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-1288 .elementor-element.elementor-element-8dde543.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-1288 .elementor-element.elementor-element-8dde543>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-1288 .elementor-element.elementor-element-ec6559d .element__ready__btn .element__ready__btn_icon_right {
    margin-left: 5px;
}

.elementor-1288 .elementor-element.elementor-element-ec6559d .element__ready__btn .element__ready__btn_icon_left {
    margin-right: 5px;
}

.elementor-1288 .elementor-element.elementor-element-ec6559d .button__icon img {
    width: 80px;
}

.elementor-1288 .elementor-element.elementor-element-ec6559d .button__icon svg {
    width: 80px;
}

.elementor-1288 .elementor-element.elementor-element-ec6559d .button__icon {
    color: #04091E;
    position: initial;
}

.elementor-1288 .elementor-element.elementor-element-ec6559d .button__icon,
.elementor-1288 .elementor-element.elementor-element-ec6559d .button__icon img {
    transition: 0.3s;
}

.elementor-1288 .elementor-element.elementor-element-ec6559d .element__ready__btn:hover .button__icon,
.elementor-1288 .elementor-element.elementor-element-ec6559d :focus .button__icon {
    color: #04091E;
}

.elementor-1288 .elementor-element.elementor-element-ec6559d .button__title {
    font-family: "DM Sans", Sans-serif;
    font-weight: 500;
    color: #04091E;
}

.elementor-1288 .elementor-element.elementor-element-ec6559d a.element__ready__btn,
.elementor-1288 .elementor-element.elementor-element-ec6559d .element__ready__btn {
    color: #04091E;
}

.elementor-1288 .elementor-element.elementor-element-ec6559d .element__ready__btn {
    background-color: #DAED1A;
    border-radius: 5px 5px 5px 5px;
    width: 100%;
    margin: 0px 0px -3px 0px;
}

.elementor-1288 .elementor-element.elementor-element-ec6559d .element__ready__btn:before,
.elementor-1288 .elementor-element.elementor-element-ec6559d .ripple__btn span.ripples {
    background-color: #AEBE0F;
}

.elementor-1288 .elementor-element.elementor-element-ec6559d .element__ready__btn:before {
    text-align: left;
    transition: 0.3s;
    transform: rotate(0deg) scale(1);
}

.elementor-1288 .elementor-element.elementor-element-ec6559d .element__ready__btn:hover:before {
    transform: rotate(0deg) scale(1);
}

.elementor-1288 .elementor-element.elementor-element-ec6559d .element__ready__btn:after {
    text-align: left;
    transition: 0.3s;
    transform: rotate(0deg) scale(1);
}

.elementor-1288 .elementor-element.elementor-element-ec6559d .element__ready__btn:hover:after {
    transform: rotate(0deg) scale(1);
}

.elementor-1288 .elementor-element.elementor-element-ec6559d {
    display: block;
    text-align: right;
    z-index: 0;
}

@media(max-width:1024px) {
    .elementor-1288 .elementor-element.elementor-element-7da88cc {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-1288 .elementor-element.elementor-element-817642c>.elementor-element-populated {
        margin: 0px 10px 0px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
    }
    .elementor-1288 .elementor-element.elementor-element-fac1a13,
    .elementor-1288 .elementor-element.elementor-element-fac1a13>.elementor-background-overlay {
        border-radius: 18px 18px 18px 18px;
    }
    .elementor-1288 .elementor-element.elementor-element-fac1a13 {
        padding: 20px 20px 20px 20px;
    }
    .elementor-1288 .elementor-element.elementor-element-390c328>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-1288 .elementor-element.elementor-element-ad7c4cd img {
        width: 100%;
    }
    .elementor-1288 .elementor-element.elementor-element-1800fd1>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-1288 .elementor-element.elementor-element-8d871c7 .element-ready-sidebar-menu .sidebar-menu-close i {
        font-size: 18px;
    }
    .elementor-1288 .elementor-element.elementor-element-8d871c7 .element-ready-sidebar-menu .sidebar-menu-close {
        width: 40px;
        height: 0px;
        left: 20px;
        top: 30px;
        right: 0px;
    }
    .elementor-1288 .elementor-element.elementor-element-8d871c7 .element-ready-canvas-bar {
        margin: 0px 0px 0px 0px;
    }
    .elementor-1288 .elementor-element.elementor-element-8d871c7>.elementor-widget-container {
        margin: 0px 20px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-1288 .elementor-element.elementor-element-8dde543.elementor-column>.elementor-widget-wrap {
        justify-content: flex-end;
    }
    .elementor-1288 .elementor-element.elementor-element-8dde543>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-1288 .elementor-element.elementor-element-ec6559d .button__title {
        font-size: 15px;
    }
    .elementor-1288 .elementor-element.elementor-element-ec6559d .element__ready__btn {
        font-size: 18px;
    }
    .elementor-1288 .elementor-element.elementor-element-ec6559d>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-1288 .elementor-element.elementor-element-ec6559d {
        width: 100%;
        max-width: 100%;
    }
}

@media(max-width:767px) {
    .elementor-1288 .elementor-element.elementor-element-7da88cc {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-1288 .elementor-element.elementor-element-390c328 {
        width: 60%;
    }
    .elementor-1288 .elementor-element.elementor-element-390c328>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-1288 .elementor-element.elementor-element-ad7c4cd img {
        width: 80%;
    }
    .elementor-1288 .elementor-element.elementor-element-1800fd1 {
        width: 40%;
    }
    .elementor-1288 .elementor-element.elementor-element-1800fd1>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-1288 .elementor-element.elementor-element-8d871c7 .element-ready-sidebar-menu .sidebar-menu-close {
        left: 0px;
        top: 0px;
    }
    .elementor-1288 .elementor-element.elementor-element-8d871c7 .element-ready-canvas-bar {
        margin: 0px 0px 0px 0px;
    }
    .elementor-1288 .elementor-element.elementor-element-8d871c7>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-1288 .elementor-element.elementor-element-8d871c7 {
        align-self: flex-start;
    }
    .elementor-1288 .elementor-element.elementor-element-8dde543>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
}

@media(min-width:768px) {
    .elementor-1288 .elementor-element.elementor-element-44f13fd {
        width: 70%;
    }
    .elementor-1288 .elementor-element.elementor-element-cdce412 {
        width: 29.788%;
    }
    .elementor-1288 .elementor-element.elementor-element-a6f1097 {
        width: 15%;
    }
    .elementor-1288 .elementor-element.elementor-element-dff143c {
        width: 64.332%;
    }
    .elementor-1288 .elementor-element.elementor-element-2a7795e {
        width: 20%;
    }
    .elementor-1288 .elementor-element.elementor-element-390c328 {
        width: 15.513%;
    }
    .elementor-1288 .elementor-element.elementor-element-1800fd1 {
        width: 65.819%;
    }
    .elementor-1288 .elementor-element.elementor-element-8dde543 {
        width: 18%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-1288 .elementor-element.elementor-element-390c328 {
        width: 18%;
    }
    .elementor-1288 .elementor-element.elementor-element-1800fd1 {
        width: 56%;
    }
    .elementor-1288 .elementor-element.elementor-element-8dde543 {
        width: 26%;
    }
}